<footer>

   <!-- socieal -->
    <div class="section section-social is-not-padding-horisontal">
      <div class="container is-fluid">
        <a class="icon icon-facebook" target="_blank" href="https://www.facebook.com/MyWish.io/"></a>
        <a class="icon icon-telegram" target="_blank" href="https://t.me/MyWish_platform"></a>
        <a class="icon icon-evernote" target="_blank" href="mailto:support@mywish.io"></a>
        <a class="icon icon-bitcoin" target="_blank" href="https://bitcointalk.org/index.php?topic=2059189.msg20545654#msg20545654"></a>
        <a class="icon icon-m" target="_blank" href="https://medium.com/@VladimirTikhomirov"></a>
        <a class="icon icon-twitter" target="_blank" href="https://twitter.com/mywishplatform"></a>
        <a class="icon icon-github" target="_blank" href="https://github.com/mywishplatform"></a>
      </div>
    </div>
    <!-- /socieal -->

    <div class="copyright">
      <div> © Copyright MyWish {{ current_site_year }}, <a target="_blank" class="privacy-link" routerlink="privacy" href="https://mywish.io/privacy">Privacy policy</a>
      </div>
    </div>

</footer>
