<footer>

  <app-keep-in-touch></app-keep-in-touch>

   <!-- socieal -->
    <div class="section section-social is-not-padding-horisontal">
      <div class="container is-fluid">
        <a class="icon icon-facebook" href="#"></a>
        <a class="icon icon-slack" href="#"></a>
        <a class="icon icon-telegram" href="#"></a>
        <a class="icon icon-evernote" href="№"></a>
        <a class="icon icon-bitcoin" href="#"></a>
        <a class="icon icon-m" href="#"></a>
        <a class="icon icon-twitter" href="#"></a>
        <a class="icon icon-github" href="#"></a>
      </div>
    </div>
    <!-- /socieal -->

</footer>
