<!-- keep-in-touch -->
<div class="section section-keep-in-touch is-not-padding-horisontal">
  <span class="title">Keep in touch with the <br> latest news</span>
  <div class="form-keep-in-touch">
    <form class="field is-grouped" action="https://mywish.us17.list-manage.com/subscribe/post?u=46f67485295b8e33b7a04853c&id=a211b0611e" method="post" name="mc-embedded-subscribe-form" target="_blank">
      <p class="control is-expanded">
        <input required class="input is-large" type="email" name="EMAIL" placeholder="Enter your email">
      </p>
      <p class="control">
        <input class="button button-tp button-tp-white is-large caption" value="Subscribe" type="submit">
      </p>
    </form>
  </div>
</div>
<!-- /keep-in-touch -->