<!-- keep-in-touch -->
<div class="section section-keep-in-touch is-not-padding-horisontal">
  <span class="title has-text-weight-medium">Keep in touch with the <br> latest news</span>
  <div class="form-keep-in-touch">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input class="input is-large" type="text" placeholder="Enter your email">
      </p>
      <p class="control">
        <a class="button button-tp button-tp-white is-large"><span>Subscribe</span></a>
      </p>
    </div>
  </div>
</div>
<!-- /keep-in-touch -->