<div class="base-block-content create-new-contract">
  <div class="app-content-block">

    <!-- Mobile step counts -->
    <div class="grid-row steps-mobile">

      <!-- FIRST BLOCK: Choose Mode -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
              (click)="(['PREPARE_ADDRESS','PREPARE_DATE_EMAIL'].includes(reqData.state)) ? checkContractStatus('CHOOSE_NETWORK') : null"
              [ngClass]="{
                'active': reqData.state === 'CHOOSE_NETWORK',
                'opened': reqData.state === 'CHOOSE_NETWORK',
                'checked': reqData.state !== 'CHOOSE_NETWORK'
              }"></div>
      </div>
      <!-- /FIRST BLOCK: Choose Mode -->

      <!-- SECOND BLOCK: Input Address -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             (click)="(['PREPARE_DATE_EMAIL','CREATED'].includes(reqData.state)) ? checkContractStatus('PREPARE_ADDRESS') : null"
             [ngClass]="{
               'active': reqData.state === 'PREPARE_ADDRESS',
               'opened': reqData.state === 'PREPARE_ADDRESS',
               'checked': !['CHOOSE_NETWORK','PREPARE_ADDRESS'].includes(reqData.state)
             }"></div>
      </div>
      <!-- /SECOND BLOCK: Input Address -->

      <!-- THIRD BLOCK: Input Date and E-mail -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             (click)="(['CREATED','UPDATED'].includes(reqData.state)) ? checkContractStatus('PREPARE_DATE_EMAIL') : null"
             [ngClass]="{
                'active': ['PREPARE_DATE_EMAIL','CREATING_UPDATE'].includes(reqData.state),
                'opened': ['PREPARE_DATE_EMAIL','CREATING_UPDATE'].includes(reqData.state),
                'checked': !['CHOOSE_NETWORK','PREPARE_DATE_EMAIL','PREPARE_ADDRESS'].includes(reqData.state)
              }"></div>
            </div>
      <!-- /THIRD BLOCK: Input Date and E-mail -->

      <!-- FOUR BLOCK: Preview -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             [ngClass]="{
                'active': reqData.state === 'CREATED',
                'opened': reqData.state == 'CREATED',
                'checked': !['CHOOSE_NETWORK','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED'].includes(reqData.state)
             }"></div>
      </div>
      <!-- /FOUR BLOCK: Preview -->

      <!-- FIVE BLOCK: Payement -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             [ngClass]="{
                'active': reqData.state === 'WAITING_FOR_PAYMENT',
                'opened': reqData.state === 'WAITING_FOR_PAYMENT',
                'checked': !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE', 'WAITING_FOR_PAYMENT'].includes(reqData.state)
              }"></div>
      </div>
      <!-- /FIVE BLOCK: Payement -->

      <!-- SIX BLOCK: Deploy -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             [ngClass]="{
                'active': reqData.state === 'WAITING_FOR_DEPLOYMENT',
                'opened': reqData.state === 'WAITING_FOR_DEPLOYMENT',
                'checked': !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE', 'WAITING_FOR_PAYMENT'].includes(reqData.state)
             }"></div>
      </div>
      <!-- /SIX BLOCK: Deploy -->

      <!-- SEVEN BLOCK: Approve Tokens -->
      <div class="grid-cell grid-cell-1-4">
        <div class="steps-mobile_item"
             [ngClass]="{
                'active': reqData.state === 'WAITING_FOR_APPROVE',
                'opened': reqData.state === 'WAITING_FOR_APPROVE',
                'checked': !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE', 'WAITING_FOR_PAYMENT', 'WAITING_FOR_APPROVE', 'WAITING_FOR_CONFIRM', 'WAITING_FOR_APPROVE', 'WAITING_FOR_DEPLOYMENT', 'WAITING_FOR_PAYMENT', 'CREATED'].includes(reqData.state)
             }"></div>
      </div>
      <!-- /SEVEN BLOCK: Approve Tokens -->

    </div>

    <!-- Main form -->
    <div class="container-contract">

      <div class="left-contract">

        <div class="form-container">

          <!-- FIRST BLOCK: Choose network -->
          <form class="form-block" #addressForm="ngForm" (submit)="checkContractStatus('PREPARE_ADDRESS')" [ngClass]="{
                    hidden: reqData.state !== 'CHOOSE_NETWORK',
                    checked: reqData.state !== 'CHOOSE_NETWORK',
                    'form-block__active': reqData.state === 'CHOOSE_NETWORK'
                }">
            <div class="form-block_title" [ngClass]="{'form-block_title__click': ['PREPARE_ADDRESS','PREPARE_DATE_EMAIL'].includes(reqData.state)}" (click)="(['PREPARE_ADDRESS','PREPARE_DATE_EMAIL'].includes(reqData.state)) ? checkContractStatus('CHOOSE_NETWORK') : null">Choose Mode</div>
            <div class="form-block_fieldset">
              <div class="form-field">
                <label class="form-field_radio">Mainnet <span class="form-field_radio-text">$25</span>
                  <input (click)="changeNetwork(1);" [(ngModel)]="reqData.network" type="radio" name="mode" [value]="1">
                  <span class="checkmark"></span>
                  <span class="checkmark-checked"></span>
                </label>
                <label class="form-field_radio">Testnet <span class="form-field_radio-text">Free of Charge</span>
                  <input (click)="changeNetwork(2);" [(ngModel)]="reqData.network" type="radio" name="mode" [value]="2">
                  <span class="checkmark"></span>
                  <span class="checkmark-checked"></span>
                </label>
              </div>
              <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
              <button class="button button-tp button-tp-blue is-medium" type="submit">
                <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                  <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                  </span>
                </div>
                <span *ngIf="!tsSrepper.button.process" class="caption">Next step</span>
              </button>
            </div>
          </form>
          <!-- /FIRST BLOCK: Choose network -->

          <!-- SECOND BLOCK: Input Address -->
          <form class="form-block" #addressForm="ngForm" (submit)="checkContractStatus('PREPARE_DATE_EMAIL')" [ngClass]="{
                    hidden: reqData.state !== 'PREPARE_ADDRESS',
                    checked: !['CHOOSE_NETWORK','PREPARE_ADDRESS'].includes(reqData.state),
                    'form-block__active': reqData.state === 'PREPARE_ADDRESS'
                }">
            <div class="form-block_title" [ngClass]="{'form-block_title__click': ['PREPARE_DATE_EMAIL','CREATED'].includes(reqData.state)}" (click)="(['PREPARE_DATE_EMAIL','CREATED'].includes(reqData.state)) ? checkContractStatus('PREPARE_ADDRESS') : null">Address for protection</div>
            <div class="form-block_fieldset">
              <label class="form-field_label">Enter current address <span class="form-field_min-text-link" (click)="reqData.contract_details.owner_address = '0xb5315187a1d5b7448aa34cc0bffaf74b5adc291f'">(use custom address)</span></label>
              <div class="form-field">
                <div class="form-field_input width-550-px">
                  <input type="text" class="min-text max-placeholder" maxlength="42" pattern="0x[0-9a-fA-F]{40}"
                    required
                    [ngClass]="{'input_field-error': (reqData.contract_details.owner_address != '') && (reqData.contract_details.reserve_address != '') && ((reqData.contract_details.owner_address | uppercase) == (reqData.contract_details.reserve_address | uppercase))}"
                    [(ngModel)]="reqData.contract_details.owner_address" placeholder="Ethereum address"
                    name="owner_address_1">
                </div>
                <div class="form-field_text normal-font width-550-px">
                  Ethereum address which you want to protect from losing tokens (in case of loss access). 
                  You must know the private key of your address at the current moment                  
                </div>
              </div>
              <label class="form-field_label">Enter backup address <span class="form-field_min-text-link" (click)="reqData.contract_details.reserve_address = '0xfd367a2de6b8ecae413bb4e61057c1430d4f4a61'">(use custom address)</span></label>
              <div class="form-field">
                <div class="form-field_input width-550-px">
                  <input type="text" class="min-text max-placeholder" maxlength="42" pattern="0x[0-9a-fA-F]{40}"
                    required
                    [ngClass]="{'input_field-error': (reqData.contract_details.owner_address != '') && (reqData.contract_details.reserve_address != '') && ((reqData.contract_details.owner_address | uppercase) == (reqData.contract_details.reserve_address | uppercase))}"
                    [(ngModel)]="reqData.contract_details.reserve_address" placeholder="Ethereum address"
                    name="owner_address_2">
                </div>
                <div class="form-field_text normal-font width-550-px">
                  Backup address receives the tokens from your address if all conditions are met.
                </div>
              </div>
              <span
                *ngIf="(reqData.contract_details.owner_address != '') && (reqData.contract_details.reserve_address != '') && ((reqData.contract_details.owner_address | uppercase) == (reqData.contract_details.reserve_address | uppercase))"
                class="form-field error_text__address">use different addresses</span>
              <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
              <button class="button button-tp button-tp-blue is-medium"
                [disabled]="((reqData.contract_details.owner_address | uppercase) == (reqData.contract_details.reserve_address | uppercase)) || !addressForm.valid"
                type="submit">
                <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                  <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                  </span>
                </div>
                <span *ngIf="!tsSrepper.button.process" class="caption">Next step</span>
              </button>

            </div>
          </form>
          <!-- /SECOND BLOCK: Input Address -->

          <!-- THIRD BLOCK: Input Date and E-mail -->
          <div class="form-block" [ngClass]="{
                   hidden: !['PREPARE_DATE_EMAIL','CREATING_UPDATE'].includes(reqData.state),
                   checked: !['CHOOSE_NETWORK','PREPARE_DATE_EMAIL','PREPARE_ADDRESS','CREATING_UPDATE'].includes(reqData.state),
                  'form-block__active': ['PREPARE_DATE_EMAIL','CREATING_UPDATE'].includes(reqData.state)
               }">

            <form #conditionsForm="ngForm" (submit)="checkContractStatus('CREATING_UPDATE')">

              <div class="form-block_title" [ngClass]="{'form-block_title__click': ['UPDATED','CREATED'].includes(reqData.state)}" (click)="(['CREATED','UPDATED'].includes(reqData.state)) ? checkContractStatus('PREPARE_DATE_EMAIL') : null">Terms and conditions</div>

              <div class="form-block_fieldset">
                <label class="form-field_label">Transfer the tokens from your address to Backup address on</label>
                <div class="form-field">
                  <div class="form-field_input width-550-px d-flex">
                    <input matInput [matDatepicker]="datepicker" required readonly [min]="tsDate.min"
                      [(ngModel)]="tsDate.current" (dateChange)="dateChange()" name="active_to"
                      (click)="datepicker.open()" placeholder="Choose a date" class="min-text">
                    <mat-datepicker #datepicker></mat-datepicker>
                    <span class="mat-datepicker-toggle" (click)="datepicker.open()">
                      <button type="button" class="calendar-picker-button">
                        <img src="./assets/images/icons/calendar.svg">
                      </button>
                    </span>
                  </div>
                  <div class="form-field_text normal-font">
                    You can cancel the Protection contract anytime before execution.
                  </div>
                </div>

                <div class="form-field">
                  <label class="form-field_label">Email for notifications (optional)</label>
                  <div class="form-field">
                    <div class="form-field_input width-550-px">
                      <input class="min-text max-placeholder" [(ngModel)]="reqData.contract_details.email" type="email" placeholder="Enter your email" name="check_email">
                    </div>
                  </div>
                </div>

                <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
                <button class="button button-tp button-tp-blue is-medium" [disabled]="!conditionsForm.valid" type="submit">
                  <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                    <span class="lds-ellipsis-container">
                      <span></span><span></span><span></span><span></span>
                    </span>
                  </div>
                  <span *ngIf="!tsSrepper.button.process" class="caption">Next step</span>
                </button>

              </div>
            </form>
          </div>
          <!-- /THIRD BLOCK: Input Date and E-mail -->

          <!-- FOUR BLOCK: Preview -->
          <div class="form-block" [ngClass]="{
                 hidden: !['CREATED','CONFIRM_CONTRACT'].includes(reqData.state),
                 checked: !['CHOOSE_NETWORK','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE','CONFIRM_CONTRACT'].includes(reqData.state),
                 'form-block__active': ['CREATED','CONFIRM_CONTRACT'].includes(reqData.state)
               }">

            <form (submit)="checkContractStatus('CONFIRM_CONTRACT')">

              <div class="form-block_title">Preview</div>

              <div class="form-block_fieldset">

                <div class="form-field">
                  <label class="form-field_label">Your address</label>
                  <div class="form-field">
                    <div class="form-field_input width-550-px d-flex ai-center">
                      <input type="text" class="min-text max-placeholder" maxlength="42" pattern="0x[0-9a-fA-F]{40}"
                        disabled [(ngModel)]="reqData.contract_details.owner_address" placeholder="Ethereum address"
                        name="check_owner_address_1">
                    </div>
                  </div>
                </div>

                <div class="form-field">
                  <label class="form-field_label">Backup address</label>
                  <div class="form-field">
                    <div class="form-field_input width-550-px d-flex ai-center">
                      <input type="text" class="min-text max-placeholder width-100" maxlength="42"
                        pattern="0x[0-9a-fA-F]{40}" disabled [(ngModel)]="reqData.contract_details.reserve_address"
                        placeholder="Ethereum address" name="check_reverse_address_2">
                    </div>
                  </div>
                </div>

                <div class="form-field">
                  <label class="form-field_label">Transfer the tokens from your address to Backup address on</label>
                  <div class="form-field">
                    <div class="form-field_input width-550-px">
                      <input type="text" [email]="true" class="min-text max-placeholder" disabled
                        [ngModel]="tsDate.current|date" (ngModelChange)="tsDate.current=$event" placeholder="Date"
                        name="check_date">
                    </div>
                  </div>
                </div>

                <div class="form-field">
                  <label class="form-field_label">Email Address mail for notifications</label>
                  <div class="form-field">
                    <div class="form-field_input width-550-px">
                      <input type="email" [email]="true" class="min-text max-placeholder" disabled
                        [(ngModel)]="reqData.contract_details.email" placeholder="Your email" name="check_email">
                    </div>
                  </div>
                </div>

                <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
                <button class="button button-tp button-tp-blue is-medium" type="submit"
                  [disabled]="tsSrepper.button.process">
                  <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                    <span class="lds-ellipsis-container">
                      <span></span><span></span><span></span><span></span>
                    </span>
                  </div>
                  <span *ngIf="!tsSrepper.button.process" class="caption">Next step</span>
                </button>

              </div>
            </form>
          </div>
          <!-- /FOUR BLOCK: Preview -->

          <!-- FIVE BLOCK: Payement -->
          <div *ngIf="reqData.network === 1" class="form-block" [ngClass]="{
                 hidden: reqData.state !== 'WAITING_FOR_PAYMENT',
                 checked: !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE', 'WAITING_FOR_PAYMENT','CONFIRM_CONTRACT'].includes(reqData.state),
                 'form-block__active': reqData.state === 'WAITING_FOR_PAYMENT'
               }">
            <div class="form-block_title">Payment</div>
            <form class="form-block_fieldset">
              <div class="form-field">

                <app-contract-form-pay *ngIf="reqData.state === 'WAITING_FOR_PAYMENT'" [contractCosts]="reqData.cost"
                  [costsEmitter]="costEmitter" [currentUser]="currentUser">
                </app-contract-form-pay>

              </div>
              <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
            </form>
          </div>
          <!-- /FIVE BLOCK: Payement -->

          <!-- SIX BLOCK: Deploy -->
          <div class="form-block" [ngClass]="{
                 hidden: reqData.state !== 'WAITING_FOR_DEPLOYMENT',
                 checked: !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE','CONFIRM_CONTRACT', 'WAITING_FOR_PAYMENT'].includes(reqData.state),
                 'form-block__active': reqData.state === ('WAITING_FOR_DEPLOYMENT' || 'PREPARE_DATE_EMAIL' || 'PREPARE_ADDRESS' || 'CREATED' || 'CREATING_UPDATE' || 'WAITING_FOR_PAYMENT')
               }">

            <div class="form-block_title">Deployment</div>

            <form class="form-block_fieldset">

              <div class="form-field_deployment" *ngIf="reqData.state !== 'POSTPONED'">
                <div class="ff_deployment-progress"></div>
                <span class="ff_deployment-title">Contract Deployment is in progress...</span>
                <span class="ff_deployment-text">It can take 10-15 minutes, please wait</span>
              </div>

              <div class="form-field_deployment" *ngIf="reqData.state === 'POSTPONED'">
                <div class="ff_deployment-error"></div>
                <span class="ff_deployment-title">Something went wrong</span>
                <span class="ff_deployment-text">please try again later or contact us</span>
              </div>

              <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
            </form>
          </div>
          <!-- /SIX BLOCK: Deploy -->

          <!-- SEVEN BLOCK: Approve Tokens -->
          <div class="form-block" [ngClass]="{
            hidden: !['SKIP_CONFIRM_APPROVE','WAITING_FOR_APPROVE'].includes(reqData.state),
            checked: !['CHOOSE_NETWORK','FAILED','POSTPONED','EXPIRED','TIME_IS_UP','PREPARE_DATE_EMAIL', 'PREPARE_ADDRESS', 'CREATED', 'CREATING_UPDATE','CONFIRM_CONTRACT', 'WAITING_FOR_PAYMENT', 'WAITING_FOR_APPROVE', 'WAITING_FOR_CONFIRM', 'WAITING_FOR_APPROVE', 'WAITING_FOR_DEPLOYMENT', 'WAITING_FOR_PAYMENT', 'CREATED'].includes(reqData.state),
            'form-block__active': reqData.state === 'WAITING_FOR_APPROVE'
          }">
            <div class="form-block_title" style="padding-right: 90px;">Select tokens to protect</div>
            <div class="form-block_fieldset" *ngIf="reqData.state !== 'FAIL_IN_CONFIRM'">

            <div *ngIf="!checkMainnTokens">

              <div [className]="'form-block_text-token form-block_text-token-'+tokensData.approved.length">
                You have to grant rights to the protection contract for the transfer of tokens to the backup address.
              </div>

                <div class="form-block_tokens__list">
                  <div class="token_item"
                    *ngFor="let token of tokensData.tokens | FilterTokens : false : false : '' : true">
                    <span [className]="'token_item__title token_item__icon-'+token.token_name"><span
                        class="token_item__image"
                        [ngStyle]="{'background-image':'url(' + token.image_link + ')'}"></span>{{ token.token_short_name }}</span>
                    <span (click)="changeTokenStatus(token.address,true)"
                      class="token_item__button token_item__button-active">APPROVED</span>
                  </div>
                </div>
                

                <div [className]="'form-block_text-token form-block_text-token-'+tokensData.approved.length">
                  <br>Add every token that needs to be protected:<br>
                </div>

                <div *ngIf="tokensData.approved.length != 0 && reqData.network == 1"  class="form-field_line"></div>

                <div *ngIf="reqData.network == 1" class="form-block_search-tokens">
                  <input type="text" class="min-text max-placeholder form-block_search-tokens_input" #searchTokensInput
                    [(ngModel)]="tokensData.search" placeholder="Search" (input)="tokensData.filterLimit = 6" >
                  <span class="form-block_search-tokens_input-icon"></span>
                  <span class="form-block_search-tokens_input-close" (click)="tokensData.search = ''"></span>
                </div>

                <div class="form-block_search-result" *ngIf="tokensData.search && reqData.network == 1">
                  <div class="form-block_tokens__list">

                    <ng-container *ngIf="tokensData.search">
                      <ng-container
                        *ngFor="let token of tokensData.tokens | FilterTokens:false:true:tokensData.search:false | slice:0:tokensData.filterLimit">
                        <ng-container *ngIf="(tokensData.tokens.length <= 0 || tokensData.tokens === null)">
                          <div class="token_item token_item__error">Tokens not found</div>
                        </ng-container>
                        <div class="token_item">
                          <span [className]="'token_item__title token_item__icon-'+token.token_name"><span
                              class="token_item__image"
                              [ngStyle]="{'background-image':'url(' + token.image_link + ')'}"></span>
                              <span>{{ token.token_short_name }}</span>
                          </span>
                          <span class="token_item__button" (click)="changeTokenStatus(token.address);">
                            APPROVE
                          </span>
                        </div>
                      </ng-container>
                      <div class="token_item token_item__more" (click)="loadMoreTokensFilter(tokensData.tokens.length)"
                        *ngIf="(tokensData.filterLimit < ((tokensData.tokens|FilterTokens:false:true:tokensData.search:false).length)) && (tokensData.filterLimit != (tokensData.tokens|FilterTokens:false:true:tokensData.search:false).length)">
                        Load more</div>
                    </ng-container>

                  </div>
                </div>

                <app-transaction *ngIf="reqData.state === 'DEPLOYED'"></app-transaction>

                <div class="form-field_line"></div>

                <div class="form-block_subtitle">POPULAR</div>
                <div class="form-block_tokens__list">
                  <div class="token_item" *ngFor="let token of tokensData.tokens | FilterTokens:true:false:'':false">
                    <span [className]="'token_item__title token_item__icon-'+token.token_name"><span
                        class="token_item__image"
                        [ngStyle]="{'background-image':'url(' + token.image_link + ')'}"></span>{{ token.token_short_name }}</span>
                    <span class="token_item__button" (click)="changeTokenStatus(token.address)">APPROVE</span>
                  </div>
                </div>
                <div class="form-field_line"></div>

                <span *ngIf="confirmErrorMessage"
                  class="form-field error_text__address">{{confirmErrorMessage || ''}}</span>
            </div>

            <div *ngIf="checkMainnTokens && reqData.network == 1">

              <div class="block-loading_min">
                <div class="block-loading_min-progress"></div>
                <span class="block-loading_min-text">Tokens are downloading, please wait...</span>
              </div>

            </div>

              <span class="form-field_network-mode" [ngClass]="{'cl-networkmode__main' : reqData.network == 1}" >{{ networkMode[reqData.network].name }}</span>
              <div class="form-field__button d-flex jc-sb fw-w">
                <button [disabled]="tokensData.saved.length <= 0" (click)="checkContractStatus('CONFIRM_APPROVE')" class="button button-tp button-tp-blue is-medium mb-10" type="submit">
                  <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                    <span class="lds-ellipsis-container">
                      <span></span><span></span><span></span><span></span>
                    </span>
                  </div>
                  <span *ngIf="!tsSrepper.button.process" class="caption">Next step</span>
                </button>

                <button *ngIf="tokensData.saved.length <= 0" (click)="checkContractStatus('SKIP_CONFIRM_APPROVE')"
                  class="button button-tp button-tp-gray_light is-medium" type="submit">
                  <div class="lds-ellipsis" *ngIf="tsSrepper.button.process">
                    <span class="lds-ellipsis-container">
                      <span></span><span></span><span></span><span></span>
                    </span>
                  </div>
                  <span *ngIf="!tsSrepper.button.process" class="caption">Skip</span>
                </button>

              </div>
            </div>
            <div class="form-field_deployment" *ngIf="['CONFIRM_APPROVE','CONFIRM_APPROVE','WAITING_FOR_CONFIRM'].includes(reqData.state)">
              <div class="ff_deployment-progress"></div>
              <span class="ff_deployment-title">Confirmation is in progress</span>
              <span class="ff_deployment-text">please wait...</span>
            </div>
          </div>
          <!-- /SEVEN BLOCK: Approve Tokens -->

          <!-- ERROR BLOCK: Posponed -->
          <div class="form-block form-block_error-posponed" *ngIf="['FAILED','POSTPONED'].includes(reqData.state)">
            <div class="form-field_deployment">
              <div class="ff_deployment-error"></div>
              <span class="ff_deployment-title">Something went wrong</span>
              <span class="ff_deployment-text">please try again later or contact us</span>
            </div>
          </div>
          <!-- /ERROR BLOCK: Posponed -->

          <!-- ERROR BLOCK: Money -->
          <div class="form-block form-block_error-posponed" *ngIf="['EXPIRED','TIME_IS_UP'].includes(reqData.state)">
            <div class="form-field_deployment">
              <div class="ff_deployment-error"></div>
              <span class="ff_deployment-title">Your contract has expired</span>
              <span class="ff_deployment-text">please create a new one</span>
            </div>
          </div>
          <!-- /ERROR BLOCK: Posponed -->

        </div>
      </div>

      <div class="right-contract">
        <div class="d-flex fd-column">
          <!-- <span class="button button-tp button-tp-watch is-medium">
            <span class="caption">Watch instruction</span>
          </span>
          <span class="button button-tp button-tp-support button-tp-icon-support is-medium">
            <span class="caption">Support</span>
          </span> -->
        </div>
      </div>

    </div>

  </div>
</div>


<ng-template #contactsReminderModal>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="info-modal-text">
        No contacting method has been selected.
        Please choose one of the contact methods.
        As our practice shows, if we can stay in touch with you, we can quicker find you a second participant for the
        trade.
      </div>
      <div class="contact-buttons"><br /><br />
        <div class="grid-row">
          <div class="grid-cell grid-cell-ls-2-3 grid-cell-vs-1">
            <button class="btn btn-yellow btn-min text-center btn-auto ls-width-100"
              (click)="requestData.notification = true" mat-dialog-close>
              <span class="just-title">Add contact information</span>
            </button>
          </div>
          <div class="grid-cell grid-cell-1 show-ls">&nbsp;</div>
          <div class="grid-cell grid-cell-ls-2-3 grid-cell-vs-1">
            <button class="btn btn-transparent btn-min text-center btn-auto with-bg ls-width-100" mat-dialog-close
              (click)="gotToForm(100)">
              <span class="just-title">Skip this step</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #ethSwapNotification>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="info-modal-text">
        Please note: That your pair can not be executed by smart contract. To make it decentralized please choose
        Ethereum based tokens.
      </div>
      <div class="contact-buttons"><br /><br />
        <div class="grid-row">
          <div class="grid-cell grid-cell-ls-2-3 grid-cell-vs-1">
            <button class="btn btn-yellow btn-min text-center btn-auto ls-width-100" mat-dialog-close>
              <span class="just-title">Change</span>
            </button>
          </div>
          <div class="grid-cell grid-cell-1 show-ls">&nbsp;</div>
          <div class="grid-cell grid-cell-ls-2-3 grid-cell-vs-1">
            <button class="btn btn-transparent btn-min text-center btn-auto with-bg ls-width-100" mat-dialog-close
              (click)="gotToForm(1)">
              <span class="just-title">Skip & continue</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #metaMaskErrorTpl>
  <div class="dialog-block">
    <div class="dialog-block__content">

      <button class="dialog-closer" mat-dialog-close>
        <img src="./assets/images/icons/cross-w.svg">
      </button>

      <div class="transaction-title">
        {{ metaMaskError.type || 'Error' }}
      </div>

      <div class="transaction-description"
           [innerHTML]="metaMaskError.msg || 'unknown error'"></div>

      <div class="alert-window-buttons text-center">
        <button class="button button-tp button-tp-blue" mat-dialog-close="" type="button">
          <span class="caption">&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>

    </div>
  </div>
</ng-template>