@import '../auth.component';

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &_label {
        font-size: 14px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    input {
        background-color: #F4F4F4;
        font-size: 18px !important;
    }
}

.button-tp {
    color: white !important;
    height: 50px;
    font-weight: bold;
    margin-top: 15px;
}