<header [ngClass]="{scrolled: pageScrolled}">

  <nav class="section-navbar container" style="max-width: 1200px;">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <a routerLink="/">
          <img src="./assets/images/new/logo.svg" alt="mywish">
        </a>
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <div class="level-right-menu">
        <p class="level-item"><a href="#">ABOUT</a></p>
        <p class="level-item"><a href="#">FEATURES</a></p>
        <p class="level-item"><a href="#">FAQ</a></p>
        <div class="dropdown is-hoverable" *ngIf="!currentUser.is_ghost">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>{{currentUser.username|slice:0:7}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <a routerLink="/trades/contracts">My contracts</a>
              </div>
              <div class="dropdown-item">
                <span (click)="openLogoutConfirmation()">Logout</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="level-item button-item" *ngIf="currentUser.is_ghost">
        <span class="button button-tp button-tp-blue is-large" (click)="openAuth()">
          <span>Try it</span>
        </span>
      </p>
    </div>
  </nav>
</header>

<ng-template #logoutConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        {{'CONFIRMATIONS.LOG_OUT.TEXT'|translate}}
      </div><br /><br />
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="button button-tp button-tp-blue is-medium" type="button" (click)="logoutSuccess()"
              [disabled]="logoutProgress">
              <span class="lds-ellipsis" *ngIf="logoutProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="just-title">&nbsp;&nbsp;&nbsp;{{'YES'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button><br />
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="button button-tp button-tp-blue is-medium" mat-dialog-close type="button">
              <span>&nbsp;&nbsp;&nbsp;{{'NO'|translate}}&nbsp;&nbsp;&nbsp;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>