<header [ngClass]="{scrolled: pageScrolled}">

  <!-- <div class="beta_version-banner">
    <img src="./assets/images/icons/beta.svg">
    This project is in beta. Use at your own risk.
  </div> -->

  <div class="app-content-block" style="position: relative;">
    <a routerLink="/">
      <span class="logo">
        <img src="./assets/images/new/logo.svg">
      </span>
    </a>

    <div class="app-content-block_right">
      <button class="navbar-toggle" type="button" (click)="openedMenu = !openedMenu"
        (mousedown)="$event.stopPropagation(); $event.preventDefault();">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <nav class="header-menu" [ngClass]="{opened: openedMenu}"
        (mousedown)="$event.stopPropagation(); $event.preventDefault();" style="padding-right: 80px;">
        <ul class="header-menu_list">
          <li class="header-menu_list_item">
            <a href="https://mywish.io/" target="_blank" class="header-link"
              [innerHTML]="'HEADER.LINKS.ABOUT' | translate"></a>
          </li>
          <li class="header-menu_list_item" *ngIf="currentUser.is_ghost">
            <span (click)="openAuth()" class="header-link" [innerHTML]="'HEADER.LINKS.LOGIN' | translate"></span>
          </li>
          <li class="header-menu_list_item with-sublist" *ngIf="!currentUser.is_ghost"
            [ngClass]="{'opened-list': userMenuOpened}">
            <span class="header-link" [ngClass]="{'is-social': currentUser.is_social}"
              (click)="userMenuOpened = !userMenuOpened" style="color: black;">{{currentUser.username}}</span>
            <ul class="header-menu_sublist">
              <li class="header-menu_sublist_item">
                <a routerLink="/contracts" class="sublist-link"
                  [innerHTML]="'HEADER.LINKS.MY_CONTRACTS' | translate"></a>
              </li>
              <li class="header-menu_sublist_item">
                <span class="sublist-link" (click)="openLogoutConfirmation()"
                  [innerHTML]="'HEADER.LINKS.LOGOUT' | translate"></span>
              </li>
            </ul>
          </li>
          <li class="header-menu_list_item" [ngClass]="{'hide_menu-button': (routeLinkPage === '/create') }">
            <span class="button button-tp button-tp-blue is-large" routerLink="/create">
              <span class="caption" [innerHTML]="'HEADER.BUTTONS.TRY_IT' | translate"></span>
            </span>
          </li>
        </ul>
        <div class="language-select">
          <ul class="language-select-list" *ngIf="isBrowser" [ngClass]="{'opened': openedLngList}"
            (click)="toggleLanguage()">
            <li (click)="setLanguage(lng['lng'])" [ngClass]="{'active': lng['active']}"
              *ngFor="let lng of languagesList">
              <img src="/assets/images/lng/{{lng['lng']}}.svg" />
              <span>{{lng['title']}}</span>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
</header>

<ng-template #logoutConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        {{ 'HEADER.MODAL.TEXT.LOGOUT_MESSAGE' | translate }}
      </div><br />
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="button button-tp button-tp-blue width-100 is-medium" type="button" (click)="logoutSuccess()"
              [disabled]="logoutProgress">
              <span class="lds-ellipsis" *ngIf="logoutProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span
                class="caption just-title">&nbsp;&nbsp;&nbsp;{{ 'HEADER.BUTTONS.YES' | translate }}&nbsp;&nbsp;&nbsp;</span>
            </button><br />
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="button button-tp button-tp-blue width-100 is-medium" mat-dialog-close type="button">
              <span class="caption">&nbsp;&nbsp;&nbsp;{{ 'HEADER.BUTTONS.NO' | translate }}&nbsp;&nbsp;&nbsp;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>