<section class="section section-page">
  <div class="container" style="max-width: 1200px;">

    <!-- first scereen -->
    <div class="section section-first-screen is-not-padding-horisontal">
      <div class="container is-fluid">
        <span class="title">
          Protect your tokens <br>if you lose your private keys.
        </span>
        <span class="subtitle">
          Decentralized protection to <br>
          restore tokens to your backup wallet.
        </span>
        <span class="button button-tp button-tp-blue home-screen-btn" routerLink="/create"> 
          <span class="caption">Try it</span>
        </span>
        <span class="small">The price is $25</span>
      </div>
    </div>
    <!-- /first scereen -->
    <!-- second screen -->
    <div class="section section-count-text-block-one is-not-padding-horisontal">
      <div class="columns is-multiline is-variable">
        <div class="column is-one-two">
          <p data-count="Secured" class="has-text-black">
            No need to provide <br> private keys
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="Handy" class="has-text-black">
            No restrictions <br>keep using your account as before
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="Simple" class="has-text-black">
            No coding <br>just 5 min to create
          </p>
        </div>
      </div>
    </div>
    <!-- /second screen -->
    <!-- how it works -->
    <div class="section section-how-it-works is-not-padding-horisontal">
      <span class="title">How it works</span>
      <div class="columns is-multiline columns is-variable is-1">
        <div class="column">
          <div data-count="1" class="column-content">
            <span class="title title-blue" (click)="btnClick();" >
              Create <br>contract
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-1.svg">
              <span class="text">Created <br>by MyWish</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="2" class="column-content">
            <span class="title title-gray">
              Configure <br>the contract
            </span>
            <div class="column-content-info">
              <div class="content-info-block">
                <span class="content-info-block-text">Main address</span>
                <span class="content-info-block-text">Backup address</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="3" class="column-content">
            <span class="title title-blue">
              Lose <br>private key
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-2.svg">
              <span class="text">Wait <br>some time</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="4" class="column-content">
            <span class="title title-gray">
              Contract's <br>execution
            </span>
            <div class="column-content-info">
              <div class="content-info-block content-info-block-arrow">
                <span class="content-info-block-text">Main address</span>
                <span class="content-info-block-text">Backup address</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="5" class="column-content">
            <span class="title title-blue">
              Tokens <br>received
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-3.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /how it works -->
    <!-- count-text-block -->
    <!-- <div class="section section-count-text-block is-not-padding-horisontal">

      <div class="columns is-multiline is-8 is-variable">

        <div class="column is-one-two">
          <p data-count="1." class="has-text-black">
            User creates reserve address
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="2." class="has-text-black">
            User defines conditions and choose tokens for the protection
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="3." class="has-text-black">
            MyWish generates smart contract with predefined conditions and transfers all rights to the user
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="4." class="has-text-black">
            If conditions are met Smart Contract transfers tokens from main address to reserve address. Even if user
            does not have access to main address anymore
          </p>
        </div>
      </div>
    </div> -->
    <!-- /count-text-block -->
    <!-- middle-block -->
    <div class="section section-middle-block is-not-padding-horisontal">
      <div class="container is-fluid">
        <span class="title">
          Protect your tokens now:
        </span>
        <br>
        <div class="form-keep-in-touch">
          <a [routerLink]="['/create']" [queryParams]="{ network: 1 }" routerLinkActive="router-link-active"  class="button button-tp button-tp-blue mb-10">
            <span class="caption caption-info" data-caption-info="$25">
              Mainnet
            </span>
          </a>
          <a [routerLink]="['/create']" [queryParams]="{ network: 2 }" routerLinkActive="router-link-active"  class="button button-tp button-tp-gray">
            <span class="caption caption-info" data-caption-info="Free">
              Testnet
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- /middle-block -->
    <div class="section section-client-trust is-not-padding-horisontal">
      <span class="title is-3">Our clients trust us</span>
      <div class="client-trust-block">
        <div class="client-trust-block-item icon-mywish">
          <div class="client-trust-block-item-text">
            <span>10,166</span>
            <br>
            <span>Users</span>
          </div>
        </div>
        <div class="client-trust-block-item icon-shield">
          <div class="client-trust-block-item-text">
            <span>7,169</span>
            <br>
            <span>Contracts</span>
          </div>
        </div>
      </div>
    </div>
    <!-- partners -->
    <div class="section section-partners is-not-padding-horisontal">
      <span class="title is-3">Partners</span>
      <div class="grid-partners">
        <a class="partners-item" *ngFor="let project of projects" href="{{project.link}}" target="_blank">
          <img *ngIf="project.logo === './assets/images/new/partners/swaps.svg'" style="top: -10px;" [src]="project.logo">
          <img *ngIf="project.logo !== './assets/images/new/partners/swaps.svg'" [src]="project.logo">
        </a>
      </div>
    </div>
    <!-- /partners -->

    <app-footer></app-footer>

  </div>
</section>