<section class="section">
  <div class="container" style="max-width: 1200px;">

    <!-- first scereen -->
    <div class="section section-first-screen is-not-padding-horisontal">
      <div class="container is-fluid">
        <span class="title">
          Save your tokens in case <br>of losing private keys.
        </span>
        <span class="subtitle">
          Decentralized protection for your tokens. <br>Get tokens to your reserve wallet.
        </span>
      </div>
    </div>
    <!-- /first scereen -->
    <!-- how it works -->
    <div class="section section-how-it-works is-not-padding-horisontal">
      <span class="title">How it works</span>
      <div class="columns is-multiline columns is-variable is-1">
        <div class="column">
          <div data-count="1" class="column-content">
            <span class="title title-blue" (click)="btnClick();" >
              Create <br>contract
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-1.svg">
              <span class="text">Created <br>by MyWish</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="2" class="column-content">
            <span class="title title-gray">
              Protection <br>contract
            </span>
            <div class="column-content-info">
              <div class="content-info-block">
                <span class="content-info-block-text">Main address</span>
                <span class="content-info-block-text">Reserve address</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="3" class="column-content">
            <span class="title title-blue">
              Lose <br>private key
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-2.svg">
              <span class="text">Wait for <br>X months</span>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="4" class="column-content">
            <span class="title title-gray">
              Contract's <br>execution
            </span>
            <div class="column-content-info">
              <div class="content-info-block content-info-block-arrow">
                <span class="content-info-block-text">Main address</span>
                <span class="content-info-block-text">Reserve address</span>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div data-count="5" class="column-content">
            <span class="title title-blue">
              Tokens <br>received
            </span>
            <div class="column-content-info">
              <img class="column is-1 is-mobile" src="./assets/images/new/how-it-works/man-3.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /how it works -->
    <!-- count-text-block -->
    <div class="section section-count-text-block is-not-padding-horisontal">

      <div class="columns is-multiline is-8 is-variable">

        <div class="column is-one-two">
          <p data-count="1." class="has-text-black">
            User creates reserve address
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="2." class="has-text-black">
            User defines conditions and choose tokens for the protection
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="3." class="has-text-black">
            MyWish generates smart contract with predefined conditions an d transfer all rights to the user
          </p>
        </div>
        <div class="column is-one-two">
          <p data-count="4." class="has-text-black">
            If conditions are met Smart Contract transfers tokens from main address to reserve address. Even if user
            does not have access to main address anymore
          </p>
        </div>
      </div>
    </div>
    <!-- /count-text-block -->
    <!-- middle-block -->
    <div class="section section-middle-block is-not-padding-horisontal">
      <div class="container is-fluid">
        <span class="title">
          Protect your tokens now:
        </span>
        <div class="form-keep-in-touch">
          <a class="button button-tp button-tp-blue is-large">
            <span class="caption">
              Create Contract
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- /middle-block -->
    <!-- partners -->
    <div class="section section-partners is-not-padding-horisontal">
      <span class="title is-3">Partners</span>
      <div class="grid-partners">
        <a *ngFor="let project of projects" href="{{project.link}}" target="_blank">
          <figure class="image">
            <img [src]="project.logo">
          </figure>
        </a>
      </div>
    </div>
    <!-- /partners -->

    <app-footer></app-footer>

  </div>
</section>


<!-- <a class="daps-swap-footer" href="https://daps.swaps.network" target="_blank">
  <div class="daps-swap-footer_content">
    <span class="daps-swap-footer_text">
      <img src="./assets/images/icons/daps-arrow.png">
      Exchange your ERC-20 DAPS Token to DAPS Coin at 1:1 rate!
    </span>
    <img src="./assets/images/partners/daps-logo-h.svg" class="daps-swap-footer_logo">
  </div>
</a>

<div class="scroll-top-btn" id="scroll-btn"></div> -->