@import '../../scss/vars';

.contract-state {
  float: right;
  color: $blue-1;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 24px;

  &:before {
    content: '';
    display: inline-block !important;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__0 {
    &:before {
      background-color: #fff;
      box-shadow: 0px 0px 9px #fff;
    }
  }

  &__1 {
    color: #15ff0f !important;

    &:before {
      background-color: #15ff0f;
      box-shadow: 0 0 9px rgba(21, 255, 15, 0.68);
    }
  }

  &__2 {
    color: $red !important;

    &:before {
      background-color: $red;
      box-shadow: 0px 0px 9px $red;
    }
  }

  &__3,
  &__6 {
    color: #ffd139 !important;

    &:before {
      background-color: #ffd139;
      box-shadow: 0 0 9px rgba(255, 209, 57, 0.68);
    }
  }

  &__4 {
    color: #0c660b !important;

    &:before {
      background-color: #0c660b;
      box-shadow: 0px 0px 9px #0c660b;
    }
  }

  &__5 {
    color: #660002 !important;

    &:before {
      background-color: #660002;
      box-shadow: 0px 0px 9px #660002;
    }
  }
}