.field-error {
  display: none;
  color: rgba(255, 41, 68, 0.8);
  font-size: 12px;
  padding: 0.5em 0;
  text-transform: uppercase;
}

.field-success {
  color: rgba(6, 176, 31, 0.96);
  font-size: 12px;
  padding: 0.5em 0;
  display: block;
  text-transform: uppercase;

  &.grey-text-color {
    color: #878787;
  }
}

.textarea {
  &__black {
    width: 100%;
    font-family: inherit;
    padding: 15px;
    box-sizing: border-box;
    border: 0 none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: inherit;
    max-width: 100%;
    height: 181px;
    color: #fff;
  }
}

.form-field {

  input,
  textarea {
    outline: none;
    background-color: $form-color-input-background;
    border: $form-color-input-border;

    form.ng-submitted &:not(.without-error-lightning).ng-invalid,
    &.ng-invalid:not(.without-error-lightning):focus,
    &:not(.without-error-lightning).ng-touched.ng-invalid,
    &:not(.without-error-lightning)[invalid="true"] {

      &:not(:disabled),
      &:not([disabled]),
      &:not([readonly]) {
        border-color: #ff2944;
      }

      &:focus {
        box-shadow: 0 0 0.2em rgba(249, 28, 28, 0.4);
      }

      ~ {
        .field-label {
          //color: #ffa2a8;
        }
      }

      ~.field-advanced-description {
        display: none;
      }

      &.ng-invalid-required {
        ~.form-field_error-required {
          display: block;

          ~.field-error {
            display: none !important;
          }
        }
      }

      &.ng-invalid-email {
        ~ {
          .form-field_error-email {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-pattern {
        ~ {
          .form-field_error-pattern {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-minlength {
        ~ {
          .form-field_error-minlength {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-server {
        ~ {
          .form-field_error-server {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-soft-cap {
        ~ {
          .form-field_error-soft-cap {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-check-sum {
        ~ {
          .form-field_error-check-sum {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-contract-address {
        ~ {
          .form-field_error-contract-address {
            display: block;

            ~.field-error {
              display: none !important;
            }
          }
        }
      }
    }
  }

  &_deployment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    flex-direction: column;

    .ff_deployment {

      &-progress {
        height: 85px;
        width: 85px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 7px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: '';
          width: 30px;
          height: 30px;
          border-left: 3px solid #000000;
          border-right: 3px solid #000000;
          border-top: 3px solid #ffffff00;
          border-bottom: 3px solid #000000;
          border-radius: 50px 50px 50px 50px;
          animation: rotating 2s linear infinite;
        }
      }

      &-title {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        margin: 7px 0;
      }

      &-text {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        margin: 7px 0;
      }

    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.radio-buttons-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 13px 0;
    margin: 0;
  }
}

.radio-button-decorated {
  position: relative;
  overflow: hidden;
  padding-left: 40px;

  &_input {
    position: absolute;
    right: 105%;
    bottom: 105%;
    margin: 0;
    opacity: 0;
  }

  &_mask {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: -7px;
    cursor: pointer;
    border-radius: 50%;
  }

  &_input[readonly]+&_mask {
    cursor: default;
  }

  &_input[readonly]:not(:checked)~* {
    opacity: 0.5;
  }

  &_input:checked+&_mask {
    background-color: #fff;
    cursor: default;

    &:after {
      content: '';
      display: inline-block;
      border-width: 0 2px 2px 0;
      border-color: #000;
      border-style: solid;
      transform: rotate(45deg);
      width: 4px;
      height: 9px;
    }
  }

  &_label {
    color: $form-section-color-label;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.checkbox-block {
  position: relative;
  overflow: hidden;
  display: block;

  input {
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
    margin: auto 5px 5px auto;
    outline: 0;
    width: 1px;
    height: 1px;

    &:checked {
      ~.btn-payment {
        background-color: $blue-1;
        color: $white;
      }
    }
  }
}

.form-field {
  margin-bottom: 20px;

  &_label {
    font-size: 14px;
    color: $form-section-color-label;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;

    &.transparent {
      color: rgba(255, 255, 255, 0.25);
    }

    &.bold {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &_input {
    position: relative;

    &-checkbox {
      display: inline-block;
      position: relative;
      background-color: #fff;
      padding: 4px;
      line-height: 28px;
      overflow: hidden;

      &:after {
        clear: both;
        display: block;
        content: '';
      }

      input {
        position: absolute;
        right: 100%;
        bottom: 100%;
        opacity: 0;
        outline: none;
        width: 1px;
        height: 1px;
      }

      .checkbox-rect {
        width: 28px;
        height: 28px;
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        transition: 0.1s linear;
        background: url(./assets/images/icons/no.svg) center center no-repeat #d8d8d8;
      }

      .checkbox-text {
        float: left;
        padding: 6px 6px 4px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        color: #110931;
        transition: 0.1s linear;

        &_on {
          opacity: 0;
        }
      }

      input:checked~.checkbox-rect {
        left: 100%;
        margin-left: -32px;
        background: url(./assets/images/icons/yes.svg) center center no-repeat #FCD600;
      }

      input:checked~.checkbox-text {
        &_on {
          opacity: 1;
        }

        &_off {
          opacity: 0;
        }
      }
    }

    input:not([type="checkbox"]):not([type="radio"]),
    textarea,
    .textarea {
      box-sizing: border-box;
      background-color: $form-color-input-background;
      border: 1px solid #fff;
      color: #110931;
      line-height: 23px;
      font-family: inherit;
      font-size: 20px !important;
      padding: 20px 20px 20px;


      &:not(.min-text),
      &.max-placeholder {
        &::-webkit-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &:-ms-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &::-ms-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &::placeholder {
          font-size: 20px;
        }
      }


      &.min-text {
        font-size: 18px !important;
        color: #110931;

        &:not(.max-placeholder) {
          &::-webkit-input-placeholder {
            font-size: 16px;
          }

          &:-ms-input-placeholder {
            font-size: 16px;
          }

          &::-ms-input-placeholder {
            font-size: 16px;
          }

          &::placeholder {
            font-size: 16px;
          }
        }
      }

      &.dark-field {
        background-color: rgba(106, 114, 126, 0.45);
        border-color: transparent;
        color: #fff;
      }

      &.minimal-input {
        line-height: 22px;
      }
    }

    textarea {
      resize: none;
      height: 233px;
    }

    .textarea {
      word-break: break-all;
    }

    input:not(&__ac_input):not([type="checkbox"]):not([type="radio"]),
    textarea,
    .textarea {
      width: 100%;

      &[disabled] {
        opacity: 0.5;
      }
    }

    &__btn {
      position: absolute;
      top: 50%;
      background: #F7F7F7;
      border: 2px solid #E5E5E5;
      border-radius: 0 4px 4px 0;
      font-size: 16px;
      color: #43476C;
      letter-spacing: -0.43px;
      line-height: 18px;
      padding: 10px 11px;
      right: 8px;
      margin-top: -21px;
      font-family: inherit;
      cursor: pointer;
    }

    &__ac_input {
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      opacity: 0;
      transition: all linear 0.2s;
      font-size: 16px;
      padding: 0;
    }

    &__ac_closer {
      transition: all linear 0.2s;
      opacity: 0;
      position: absolute;
      width: 0;
      height: 30px;
      top: 50%;
      margin-top: 0;
      z-index: 2;
      right: 25px;
      cursor: pointer;

      img {
        width: 100%;
        display: block;
      }
    }

    &__btn.active~&__ac_closer {
      opacity: 1;
      width: 30px;
      margin-top: -15px;
      right: 10px;
    }

    &__btn.active+&__ac_input {
      width: 50%;
      opacity: 1;
      top: 0;
      border-left: 1px solid #D8D8D8 !important;
    }
  }

  &_description {
    font-size: 14px;
    color: $form-section-color-text;

    &:not(.normal-font) {
      text-transform: uppercase;
    }

    &.normal-font {
      font-size: 15px;

      &,
      a {
        &:not(.transparent) {
          color: #fff !important;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:not(.no-top-margin) {
      margin-top: 22px;
    }

    &__inline {
      line-height: 50px;
      color: rgba(255, 255, 255, 0.5);

      span {
        line-height: 25px;
        vertical-align: middle;
      }
    }
  }

  &_text {
    font-size: 16px;
    line-height: 18px;
    color: $form-section-color-text;

    &:not(.normal-font) {
      text-transform: uppercase;
    }

    &:not(.no-top-margin) {
      margin-top: 22px;
    }

    &__inline {
      line-height: 50px;
      color: rgba(255, 255, 255, 0.5);

      span {
        line-height: 25px;
        vertical-align: middle;
      }
    }
  }

  &_small-desc {
    margin-top: 10px;
    line-height: 18px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);

    &.for-checkbox {
      margin-top: 0;
      line-height: 40px;

      span {
        line-height: 20px;
        display: inline-block;
        max-width: 100%;
      }
    }
  }

  &_checkbox-val {
    display: block;
    border: 1px solid #E2E2E2;
    text-transform: uppercase;

    &_stat,
    &_label {
      display: inline-block;
      vertical-align: middle;
    }

    &_stat {
      padding: 1px 1px 1px 10px;
      font-size: 13px;
      color: #110931;
      line-height: 25px;
      background: #E2E2E2;
      padding-top: 3px;
      min-width: 65px;
      white-space: nowrap;
      box-sizing: border-box;
      text-align: center;

      img {
        vertical-align: middle;
        margin-left: 5px;
        margin-top: -3px;
      }
    }

    &_label {
      font-size: 14px;
      color: #E2E2E2;
      line-height: 18px;
      padding: 3px 10px 0;
    }
  }

  &_value {
    font-size: 18px;
    color: #FFFFFF;
    word-break: break-all;
  }

  &_copy {
    text-align: center;
    float: right;
    width: 40px;
    margin-top: 10px;
    line-height: 43px;
    position: absolute;
    right: 0;
    background-color: $blue-1;
    border-radius: 20px;
  }

  &_copy+&_input_data {
    margin-right: 50px;
  }

  &_info-field {
    color: #8E939B;

    &:after {
      clear: both;
      content: '';
      display: block;
    }

    span {
      &.float-left+.float-left {
        margin-left: 20px;
      }
    }
  }
}

.timepicker__header {
  background-color: #222 !important;
}

.clock-face__number>span.active {
  background-color: #222 !important;
}

.clock-face__clock-hand {
  background-color: #222 !important;
}

.clock-face__clock-hand_minute:before {
  border-color: #222 !important;
}

.timepicker-button {
  color: #222 !important;
}