.is-not-padding-horisontal {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nowrap {
    white-space: nowrap;
}

.pre {
    white-space: pre;
}

.clearfix-block {
    display: table;
    width: 100%;
}

.invisible {
    visibility: hidden;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.width-100 {
    width: 100% !important;
}

.width-550-px {
    max-width: 550px !important;
    width: 100%;
}

ng-scrollbar-y {
    display: block !important;
    visibility: hidden;

    &.ng-scrollbar-visible {
        visibility: visible;
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.n-berfore {
    &:before {
        display: none;
    }
}

.ai-center {
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}

.fw-w {
    flex-wrap: wrap;
}

.pr-50 {
    padding-right: 50px;
}

.fd-row {
    flex-direction: row !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.contract-add-tokens_blue {
    // background-color: #2873FB !important;
    padding: 0 !important;
    height: 45px !important;
    // font-weight: bold;
    transition: 0.4s ease;

    span {
        // color: white !important;
        font-size: 12px !important;
        margin-left: 0 !important;

        &:before {
            width: 10px !important;
            height: 10px !important;
            background-size: 6px !important;
            margin-right: 3px !important;
        }
    }

    &:hover {
        opacity: 0.4;
        cursor: pointer;
    }
}

.contract-search-add-tokens {
    margin-right: -25px;
    margin-left: -25px;
    padding: 20px 25px !important;
    border-top: 15px solid #f4f4f4;
    border-bottom: 15px solid #f4f4f4;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;

    &-close {
        position: absolute;
        font-size: 16px;
        color: gray;
        transition: 0.4s;
        top: 25px;
        right: 25px;
        z-index: 99;
        
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}

button:focus {
    outline: none !important;
}

.deleteToken-contract {
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 4em;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -3px;
    right: -3px;
    line-height: 0;
    font-size: 12px;
    color: black;

    &:hover {
        color: white;
        background-color: red;
    }
}

.container-contract {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-left: 62px;

    &__view {
        padding-left: 0 !important;
    }
}

.left-contract {
    order: 1;
    flex-basis: 100%;
    padding-right: 30px;
}

.right-contract {
    order: 2;
    flex-basis: 320px;

    .button {
        max-width: 250px !important;
        margin-bottom: 15px;
    }
}

.right-contract-view {
    order: 2;
    flex-basis: 705px;

    .button {
        max-width: 250px !important;
        margin-bottom: 15px;
    }
}

.error_text {
    &__address {
        color: red;
        font-weight: bold;
        font-size: 12px;
        margin-left: 5px;
        display: block;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.fd-c {
    flex-direction: column;
}

.beta_version-banner {
    font-size: 14px;
    background-color: #8792A2;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 35px;
    margin-top: -20px;
    margin-bottom: 10px;

    img {
        width: 22px;
        margin-right: 10px;
        margin-top: 0px;
    }

    @include b(800) {
        margin-top: 0;
    }
}

.mt-5 {
    margin-top: 5px !important;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fw-b {
    font-weight: bold;
}

.bg-none {
    background-color: none !important;
    background-image: none !important;
    background: none !important;
}

@media screen and (max-width: 580px) {
    .container-contract {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 800px) {
    .container-contract {
        flex-wrap: wrap;
    }

    .left-contract {
        padding-right: 0;
    }

    .right-contract,
    .right-contract-view {
        flex-basis: 100%;
        // order: 2;

        .d-flex {
            flex-direction: initial;
            justify-content: space-between;
            margin-top: 30px;
            border-top: 1px dashed gray;
            padding-top: 20px;

            .button {
                max-width: 100% !important;
            }
        }
    }
}