.button {
	border-radius: 0 !important;

	&-tp {
		border-right: none !important;
		border-top: none !important;
		border-bottom: none !important;
		transition: 0.5s ease;

		span {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-left: -20px;
		}

		&-white {
			background-color: #fff;
			border-left: 5px solid #2873FB !important;

			span {
				@include before-img(block, 50px, 50px, relative) {
					background-image: url('/assets/images/new/icons/arrow-right-blue.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 10px;
				}
			}

			&:hover {
				box-shadow: 3px 3px 7px -2px #0000006b;
				background-color: #2873FB;
				color: white !important;

				span:before {
					background-image: url('/assets/images/new/icons/arrow-right-white.png');
				}
			}
		}

		&-blue {
			background-color: #2873FB !important;
			border-left: 5px solid rgb(180, 206, 255) !important;

			span {
				@include before-img(block, 50px, 50px, relative) {
					background-image: url('/assets/images/new/icons/arrow-right-white.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 10px;
				}
			}

			&:hover {
				box-shadow: 3px 3px 7px -2px #0000006b;
				background-color: rgba(40, 114, 251, 0.8) !important;
				color: black !important;

				// span:before {
				// 	background-image: url('/assets/images/new/icons/arrow-right-blue.png');
				// }
			}
		}

		&-gray {
			background-color: #B3B3B3 !important;
			border-left: 5px solid #444546 !important;
			width: 100%;
			margin-bottom: 10px;


			&:hover {
				box-shadow: 3px 3px 7px -2px #0000006b;
				background-color: rgba(0, 0, 0, 0.9) !important;
				color: black !important;
			}
		}

		&-google {
			background-color: #DB4437 !important;
			border-left: 5px solid #f99999 !important;
			width: 100%;
			margin-bottom: 10px;


			&:hover {
				// box-shadow: 3px 3px 7px -2px #0000006b;
				background-color: rgba(219, 69, 55, 0.8) !important;
				color: black !important;
			}
		}

		&-metamask {
			background-color: rgb(219, 134, 55) !important;
			border-left: 5px solid #f9bc99 !important;
			width: 100%;
			margin-bottom: 10px;


			&:hover {
				// box-shadow: 3px 3px 7px -2px #0000006b;
				background-color: rgba(219, 134, 55, 0.8) !important;
				color: black !important;
			}
		}

		&-icon-metamask {
			height: 50px !important;

			span {
				font-weight: bold;
				color: white;

				@include before-img(block, 50px, 50px, relative) {
					background-image: url('/assets/images/icons/web3clients/metamask.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 25px;
				}

				&:hover {
					color: white !important;
				}
			}
		}

		&-icon-google {
			height: 50px !important;

			span {
				font-weight: bold;
				color: white;

				@include before-img(block, 50px, 50px, relative) {
					background-image: url('/assets/images/icons/google.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 25px;
				}

				&:hover {
					color: white !important;
				}
			}
		}
	}
}

input {
	border-radius: 0 !important;
}

.is-not-padding-horisontal {
	padding-left: 0px !important;
	padding-right: 0px !important;
}