<form class="login-form" (submit)="sendLoginForm()" [ngClass]="{'ng-submitted': formIsSubmitted}"
  [formGroup]="loginForm" name="loginForm" novalidate>

  <div class="form-field">
    <div class="form-field_label" translate="HEADER.MODAL.EMAIL"></div>
    <div class="form-field_input">
      <input type="email" autofocus formControlName="username" [ngClass]="{
                'ng-invalid-server': ServerErrors.username,
                'ng-invalid-email': f.username.errors?.email,
                'ng-invalid-required': f.username.errors?.required,
                'ng-invalid': f.username.errors || ServerErrors.username
             }" (ngModelChange)="resetUsername()" class="min-text input is-large">
      <span class="field-error form-field_error-required" translate="HEADER.MODAL.MESSAGES.FIELD_IS_REQUIRED"></span>
      <span class="field-error form-field_error-email" translate="HEADER.MODAL.MESSAGES.ENTER_YOUR_EMAIL"></span>
      <span class="field-error form-field_error-server">
        {{ServerErrors.username?.join(' ')}}
      </span>
    </div>
  </div>

  <div class="form-field">
    <div class="form-field_label" translate="HEADER.MODAL.PASSWORD"></div>
    <div class="form-field_input">
      <input type="password" required formControlName="password" [ngClass]="{
                'ng-invalid-server': ServerErrors.password,
                'ng-invalid-required': f.password.errors?.required,
                'ng-invalid': f.password.errors || ServerErrors.password
             }" class="min-text input is-large">
      <span class="field-error form-field_error-required" translate="HEADER.MODAL.MESSAGES.FIELD_IS_REQUIRED"></span>
      <span class="field-error form-field_error-server">
        {{ServerErrors.password?.join(' ')}}
      </span>
    </div>
  </div>

  <div class="form-field" *ngIf="f.totp">
    <div class="form-field_label" translate="HEADER.MODAL.2FA"></div>
    <div class="form-field_input">
      <input type="text" required formControlName="totp" [ngClass]="{
                'ng-invalid-server': ServerErrors.totp,
                'ng-invalid-required': f.totp.errors?.required,
                'ng-invalid': f.totp.errors || ServerErrors.totp
             }" class="min-text">
      <span class="field-error form-field_error-required" translate="HEADER.MODAL.MESSAGES.FIELD_IS_REQUIRED"></span>
      <span class="field-error form-field_error-server">
        {{ServerErrors.totp?.join(' ')}}
      </span>
    </div>
  </div>

  <span class="field-error" style="display: block" *ngIf="ServerErrors.non_field_errors">
    {{ServerErrors.non_field_errors?.join(' ')}}
  </span>

  <div class="form-field">
    <span class="restore-link float-right" translate="HEADER.MODAL.FORGOT"
      (click)="data.chapter = 'forgot-password'"></span>
    <button type="submit" class="button button-tp button-tp-blue" [disabled]="formIsProgress">
      <span class="lds-ellipsis" *ngIf="formIsProgress">
        <span class="lds-ellipsis-container">
          <span></span><span></span><span></span><span></span>
        </span>
      </span>
      <span translate="HEADER.MODAL.BUTTONS.LOGIN"></span>
    </button>
  </div>
</form>